body{
  background-image:url(https://images.unsplash.com/photo-1611143669185-af224c5e3252?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0%;
  display: flex;
}

#container{
  margin: 1rem;
  display: grid;
  width: 100vw;
  height: 190vh;
  grid-template-areas: 
  'hdnv'
  'mn'
  'ft';
  grid-template-rows: 260px 3fr 1fr;
  row-gap: 1.5rem;
  background-color: rgba(51, 51, 51, 0.534);
  padding: 2rem;
}

#container2{
  margin: 1rem;
  display: grid;
  width: 100vw;
  height: 210vh;
  grid-template-areas: 
  'hdnv'
  'mn'
  'ft';
  grid-template-rows: 260px 3fr 1fr;
  row-gap: 1.5rem;
  background-color: rgba(51, 51, 51, 0.534);
  padding: 2rem;
}

#container3{
  margin: 1rem;
  display: grid;
  width: 100vw;
  height: 260vh;
  grid-template-areas: 
  'hdnv'
  'mn'
  'ft';
  grid-template-rows: 260px 3fr 1fr;
  row-gap: 1.5rem;
  background-color: rgba(51, 51, 51, 0.534);
  padding: 2rem;
}

.hdnv{
  padding: 0%;
  margin: 0%;
  display: grid;
  grid-template-areas: 
  'hd'
  'nv';
  grid-template-rows: 195px 65px;
  grid-template-columns: 1fr;
  border: rgb(0, 0, 0) 1px solid;
}

.header{
  grid-area: hd;
  background-color: rgb(37, 37, 37);
  margin: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto mono';
  font-size: 17px;
}

.nav{
  grid-area: nv;
  display: flex;
  padding: 0%;
  margin: 0%;
  font-size: 25px;
  font-family: 'Roboto mono';
  font-weight: bolder;
  border: none;
  height: 100%;
}

a{
  text-decoration: none;
  margin: 0%;
}

#hem{
  background-color: whitesmoke;
  flex: 1;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
#hem:hover{
  background-color: rgb(189, 189, 189);
  flex: 1;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
  border: black 1px solid;

}

#meny{
  background-color: whitesmoke;
  flex: 1;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
}

#meny:hover{
  background-color: rgb(189, 189, 189);
  flex: 1;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
  border: black 1px solid;
}

#omoss{ 
  background-color: whitesmoke;
  flex: 1;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
}
#omoss:hover{ 
  background-color: rgb(189, 189, 189);
  flex: 1;
  margin: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(31, 31, 31);
  border: black 1px solid;
}

#logotype{
  grid-area: log;
  width: 11rem;
  margin-bottom: 0%;
  position: absolute;
  top: 4.5rem;
  left: 7.5rem;
  border: black solid 2px;
  border-radius: 50%;
}

#flag{
  height: 12rem;
  position: absolute;
  top: 3rem;
  right: 4.5rem;
}

#text{
  display: flex;
  flex-flow: column;
  align-items: center;
  color: whitesmoke;
}

#main1{
  grid-area: mn;
  padding: 1.5rem;
  display: grid;
  grid-template-areas: 
  'sec1'
  'sec2';
  grid-template-rows: 2fr 3fr;
  row-gap: 2rem;
}

#main2{
  grid-area: mn;
  display: flex;
  display: grid;
  flex-flow: column;
  grid-template-areas: 
  'sec1'
  'sec2'
  'sec3';
  row-gap: 2rem;
}

.h3meny{
  text-align: center;
  margin: 0%;
  font-size: 32px;
  font-family: 'Roboto mono';
  text-decoration: underline;
}

#food{
  grid-area: sec1;
  margin-top: 4rem;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 3px;
  border: black 3px solid;
}

#drinks{
  grid-area: sec2;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 3px;
  border: black 3px solid;
}

#desserts{
  grid-area: sec3;
  background-color: rgb(230, 230, 230);
  padding: 20px;
  border-radius: 3px;
  border: black 3px solid;
}

#main3{
  grid-area: mn;
  display: grid;
  grid-template-areas: 
  'sec1'
  'sec2'
  'sec3';
  grid-template-rows: auto;
  row-gap: 2rem;
}

#sec1{
  grid-area: sec1;
  margin: 0%;
  display: grid;
  grid-template-areas: 'oppen boka';
  grid-template-columns: 1fr 4fr;
  column-gap: 1rem;
}

#oppen{
  grid-area: oppen;
  margin: 0%;
  background-color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  flex-flow: column;
  padding: 0%;
  font-family: 'Roboto mono';
  color: whitesmoke;
}

#listan{
  margin: 0%;
  list-style: none;
  border: 1px whitesmoke solid;
  padding: 7px;
}

li{
  margin: 6px;
}

#opptext{
  margin-bottom: 6px;
  margin-top: 11px;
}

#boka{
  grid-area: boka;
  margin: 0%;
  background-color: rgb(31, 31, 31);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
}

.boktext{
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 2px;
  font-family: 'Roboto mono';
}

#knapp{
  height: 20%;
  width: 10%;
  border: whitesmoke 1px solid;
  border-radius: 2px;
  background-color: rgb(243, 73, 73);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Roboto mono';
  font-weight: bolder;
  margin-top: 18px;
  padding-left: 7px;
  padding-right: 7px;
}

#knapp:hover{
  background-color: rgb(184, 55, 55);
}

#sec2{
  grid-area: sec2;
  margin: 0%;
  display: grid;
  grid-template-areas: 'info map';
  column-gap: 1rem;
  grid-template-columns: 6fr 5fr;
}

#info{
  grid-area: info;
  background-color: rgb(31, 31, 31);
  display: flex;
  align-items: center;
  flex-flow: column;
  color: whitesmoke;
  font-family: 'Roboto mono';
  flex-wrap: wrap;
  padding: 75px;
  padding-top: 40px;
}

#inftxt{
  border: whitesmoke 1px solid;
  padding: 18px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

#headting{
  font-weight: bolder;
  margin-top: 0%;
}

#anstallda{
  color: whitesmoke;
  font-weight: 900;
  text-decoration: underline;
  margin-top: 4px;
}

#anstallda:hover{
  color: rgb(199, 199, 199);
}

#map{
  grid-area: map;
  background-color: rgb(31, 31, 31);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

#footer{
  grid-area: ft;
  background-color: rgb(37, 37, 37);
  color: whitesmoke;
  font-family: 'Roboto mono';
  padding: 15px;
}

#kontakt{
  margin-left: 30px;
  margin-bottom: 40px;
  margin-top: 25px;
}

#listan2{
  list-style: none;
  padding: 0%;
}

.li{
  margin: 20px;
}

.ulmeny{
  font-size: 20px;
  font-family: 'Roboto mono';
  list-style: none;
  padding: 0;
  margin: 20px;
}

.staffstuf{
  width: 20rem;
}

#chef{
  grid-area: sec1;
  background-color: rgb(37, 37, 37);
  grid-template-areas: 
  'im1 p1'
  'ca1 p1';
  display: grid;
  grid-template-columns: 320px 1fr;
  padding: 20px;
  color: whitesmoke;
  font-family: 'Roboto mono';
  border: whitesmoke 1px solid;
  border-radius: 3px;
}

#staff{
  grid-area: sec2;
  background-color: rgb(37, 37, 37);
  grid-template-areas: 
  'p2 im2'
  'p2 ca2';
  display: grid;
  grid-template-columns: 1fr 320px;
  padding: 20px;
  color: whitesmoke;
  font-family: 'Roboto mono';
  border: whitesmoke 1px solid;
  border-radius: 3px;
}

#owner{
  grid-area: sec3;
  background-color: rgb(37, 37, 37);
  display: grid;
  grid-template-areas: 
  'im3 p3'
  'ca3 p3';
  grid-template-columns: 320px 1fr;
  padding: 20px;
  color: whitesmoke;
  font-family: 'Roboto mono';
  border: whitesmoke 1px solid;
  border-radius: 3px;
}

#bi1{
  grid-area: im1;
}

#bi2{
  grid-area: im2;
}

#bi3{
  grid-area: im3;
}

#p1{
  grid-area: p1;
}

#p2{
  grid-area: p2;
}

#p3{
  grid-area: p3;
}

h4{
  text-align: center;
  margin: 10px;
}

#ca1{
  grid-area: ca1;
}

#ca2{
  grid-area: ca2;
}

#ca3{
  grid-area: ca3;
}

.staffh3{
  text-align: center;
  font-size: 30px;
}

.stafftxt{
  padding-left: 40px;
  padding-right: 40px;
  font-size: 20px;
}

#iframe{
  height: 100%;
  width: 100%;
}